GROQ_API_KEY=
## "ollama" or "groq
LLM_PROVIDER=ollama
#groq


# ---------------------------------
# Optional for Langgraph Module
# ---------------------------------
# LangSmith for tracing and observability (Optional - but highly recommended)
# Sign up for a free account at https://smith.langchain.com/
# Langsmith has a generous free tier with no credit card required
LANGSMITH_TRACING=true # Set to true to enable tracing
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=LangGraph-MCP-Demo
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
#travily
# ---------------------------------
# Required for ALL Modules
# ---------------------------------
# Tavily as the search engine (Required)
# Sign up for a free account at https://tavily.com/
# Tavily has a generous free tier with no credit card required
TAVILY_API_KEY=
