langchain
langgraph
langsmith
fastapi
uvicorn
pydantic
langchain_community
pypdf
python-dotenv
IPython
langchain_tavily
langchain_ollama
langchain_experimental
langchain_chroma
mcp
fastmcp
mcp[cli]
nest_asyncio
mcp-use
langchain_groq
langchain-openai
chromadb
pyppeteer
chromium
playwright
graphviz
langchain_mcp_adapters
streamlit
a2a-sdk
langchain_core